.screenContainer {
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 800ms ease;
}

.screenContainer.hidden {
    opacity: 0;
}

.screenContainer:not(.hidden) {
    opacity: 1;
}

img.ccIcon {
    height: 22px !important;
    margin-left: 3px;
    vertical-align: text-bottom;
}

.button {
    border: none;
    background: none;
    color: inherit;
    font-size: var(--fs-md);
    cursor: pointer;
}
