.galleryContainer {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(360px, 1fr)
    ); /* responsive columns */
    gap: 1rem;
    opacity: 1;
    transition: opacity 800ms;
    padding-bottom: 40px;
}

.galleryContainer.hidden {
    opacity: 0;
}

.galleryItem {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 5px solid #000;
    background-color: #000;
}

/* Apply animations */
.galleryItemEven .galleryImage {
    animation: kenBurnsEven 30s ease-in-out infinite; /* Slower */
}

.galleryItemOdd .galleryImage {
    animation: kenBurnsOdd 30s ease-in-out infinite; /* Slower */
}

.galleryImageWrapper {
    /* aspect-ratio: 4 / 3; */
    width: 100%;
    height: 33vh;
    overflow: hidden;
    position: relative;
}

/* Image styles */
.galleryImage {
    width: 100%; /* Slightly larger than the wrapper for the zoom effect */
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.05) translate(0%, 0%); /* Reduced initial scale */
    object-fit: contain;
}

/* Subtle Ken Burns Animation */
@keyframes kenBurnsEven {
    0% {
        transform: scale(1.05) translate(0%, 0%);
    }
    25% {
        transform: scale(1.08) translate(-2%, -2%);
    }
    50% {
        transform: scale(1.1) translate(-4%, -1%);
    }
    75% {
        transform: scale(1.08) translate(-2%, 2%);
    }
    100% {
        transform: scale(1.05) translate(0%, 0%);
    }
}

@keyframes kenBurnsOdd {
    0% {
        transform: scale(1.05) translate(0%, 0%);
    }
    25% {
        transform: scale(1.08) translate(2%, 2%);
    }
    50% {
        transform: scale(1.1) translate(4%, 1%);
    }
    75% {
        transform: scale(1.08) translate(2%, -2%);
    }
    100% {
        transform: scale(1.05) translate(0%, 0%);
    }
}

/* Title styling */
.galleryItemTitle {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
    font-size: var(--fs-lg);
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.galleryItem.keyPiece {
    grid-column: span 2;
}
