/* Introductory text */
.galleryCatScreen__introText {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: #777;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    font-size: var(--fs-md);
    line-height: 1.5;
}

.galleryCatScreen__introText strong {
    color: var(--text-muted);
}

.galleryCatScreen__icon {
    display: block;
    margin: 10px auto;
    font-size: var(--fs-lg);
    color: var(--text-muted);
}

/* Image wrapper with Ken Burns effect */
.galleryCatScreen__imageWrapper {
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    transition: opacity 800ms;
    outline: none;
    padding-bottom: 52px;
}

.galleryCatScreen__imageWrapper--show {
    opacity: 1;
}

.galleryCatScreen__image {
    width: 33.3333%;
    /* min-height: 33vh; */
    position: relative;
    cursor: pointer;
    overflow: hidden;
    perspective: 1000px;
}

.galleryCatScreen__imageTitle {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    /* font-size: clamp(1rem, 1vw, 2rem); */
    font-size: var(--fs-md);
}

/* Ken Burns wrapper for image effect */
.galleryCatScreen__kenBurnsWrapper {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1 / 1; square view confliging with height */
    overflow: hidden;
    position: relative;
}

.galleryCatScreen__imageImg {
    width: 111%;
    height: 111%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    animation: galleryCatScreen__kenBurns 10s infinite alternate;
}

@keyframes galleryCatScreen__kenBurns {
    0% {
        transform: scale(1.1) translate(0, 0) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: scale(1.2) translate(5%, -5%);
    }
    /* 100% {
        transform: scale(1.1) translate(-5%, 5%);
    } */
    100% {
        transform: scale(1.35) translate(-3%, -3%);
    }
}

/* Lightbox and navigation styles */
.galleryCatScreen__lightBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
}

.galleryCatScreen__lightBoxOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color: rgba(0, 0, 0, 1);
    z-index: 3;
    touch-action: "none";
}

/* .galleryCatScreen__lightBoxImage {
    max-width: 85vw;
    max-height: 85vh;
    object-fit: contain;
    border: 1px solid #fff;
} */

.galleryCatScreen__button {
    background: transparent;
    border: none;
    font-size: var(--fs-xl);
    color: #fff;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.galleryCatScreen__buttonLeft {
    left: 10px;
}

.galleryCatScreen__buttonRight {
    right: 10px;
}

.galleryCatScreen__closeButton {
    background: transparent;
    border: none;
    font-size: var(--fs-xl);
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 5;
}

.galleryCatScreen__lightBoxImage {
    max-width: 85vw;
    max-height: 85vh;
    object-fit: contain;
    border: 1px solid #fff;
    margin: auto;
    z-index: 2;
}

.galleryCatScreen__button {
    background: transparent;
    border: none;
    font-size: var(--fs-xl);
    color: #fff;
    cursor: pointer;
}

.galleryCatScreen__button--left {
    position: absolute;
    left: 5%;
}

.galleryCatScreen__button--right {
    position: absolute;
    right: 5%;
}

/* Legacy Styles */
.imageWrapper {
    display: flex;
    flex-wrap: wrap;
    opacity: 1; /* TODO: 0 and show*/
    transition: opacity 800ms;
}

.imageWrapper.show {
    opacity: 1;
}

.image {
    width: 33.3333%;
    /* min-height: 33vh; */
    background-color: #000;
    cursor: pointer;
}

.imageTitle {
    color: #fff;
    text-align: center;
}

.imageImg {
    width: 100%;
    object-fit: cover;
    /* height: 33vh; */
    border: 7px solid #000;
}

.lightBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
}

.lightBoxImage {
    max-width: 79vw;
    max-height: 79vh;
    object-fit: contain;
    border: 1px solid #fff;
    margin: auto;
    z-index: 2;
}

.button {
    background: transparent;
    border: none;
    font-size: var(--fs-xl);
    color: #fff;
    cursor: pointer;
}

.buttonLeft {
    position: absolute;
    left: 5%;
}

.buttonRight {
    position: absolute;
    right: 5%;
}

.galleryCatScreen__image {
    width: 33.3333%;
    min-height: 33vh;
    height: 33vh;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.galleryCatScreen__imageOverlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
    background: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    z-index: 2;
}

.galleryCatScreen__kenBurnsWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.galleryCatScreen__imageImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: galleryCatScreen__kenBurns 10s infinite alternate;
}

.galleryCatScreen__imageKeyPiece {
    width: 100%;
}

.galleryCatScreen__introTextContent {
    margin-top: 10px;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    overflow: hidden;
    transition: all 600ms ease;
}

.galleryCatScreen__introTextContentShow {
    max-height: 500px; /* or a large enough value */
    opacity: 1;
    transform: translateY(10px);
}
