
.fadeStyles {
  opacity: 1;
  transition: opacity 800ms;
}

.fadeStylesHidden {
  opacity: 0;
}

.imageProfile {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  display: block;
  margin: auto;
  width: 340px;
}

.centeredImage {
  border-radius: 50%;
}

.gallerySliderWrap {
  /* border-bottom: 1px solid black; */
  box-shadow: 0px 20px 120px black;
  padding-bottom: 20px;
}