.intenseImg {
    max-height: 100vh;
    max-width: 100vw;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.preloader {
    margin: auto;
    border: 7px solid #311b0e;
    border-radius: 50%;
    border-top: 7px solid #733a69;
    width: 48px;
    height: 48px;
    animation: spinnerAnimation 8s linear infinite;
}

@keyframes spinnerAnimation {
    0% {
        transform: rotate(0deg);
        opacity: 0.3;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0.3;
    }
}

.lightBox {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.79);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes kenBurns {
    0% {
        transform: scale(1.05) translate(0%, 0%);
    }
    25% {
        transform: scale(1.08) translate(2%, 2%);
    }
    50% {
        transform: scale(1.1) translate(4%, 1%);
    }
    75% {
        transform: scale(1.08) translate(2%, -2%);
    }
    100% {
        transform: scale(1.05) translate(0%, 0%);
    }
}

.fullscreenContainer {
    display: flex;
    align-items: normal;
    justify-content: center;
    text-align: center;
}

/* Styles for the Ken Burns container */
.figureKenBurns {
    width: 100%;
    /* 2-third of the screen height */
    /* max-height: 66vh; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0; /* Space between rows */
}

/* Ken Burns Effect */
.intenseImgKenBurns {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* transform: scale(1.05); */
    /* animation: kenBurns 30s ease-in-out infinite; */
}

/* Title Overlay */
.titleWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    /* position: absolute; */
    /* bottom: 8px; */
    /* left: 16px; */
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
    font-size: 1rem;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* Grid for Images */
.imageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px; /* Space between images */
    padding: 16px;
}

.imageContainer {
    position: relative;
    overflow: hidden;
}
