.intenseImg {
    max-height: 150vh;
    max-width: 150vw;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.preloader {
    margin: auto;
    border: 7px solid #311b0e;
    border-radius: 50%;
    border-top: 7px solid #733a69;
    width: 48px;
    height: 48px;
    animation: spinnerAnimation 8s linear infinite;
}

@keyframes spinnerAnimation {
    0% {
        transform: rotate(0deg);
        opacity: 0.3;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0.3;
    }
}

.lightBox {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.79);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
