.listContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
    margin: 0;
    padding: 0;
    padding: 2rem;
}

.imageContainer {
    /* width: 100%; */
    /* max-width: 600px; */
    /* max-height: 600px; */
    transition:
        transform 0.6s ease,
        opacity 0.6s ease;
    transform-style: preserve-3d;
    will-change: transform, opacity;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.listImagesWrapper {
}
