@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #eee;
  background-color: #111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, article {
  font-family: 'Roboto Condensed', sans-serif;
}

/* loader test */ 

.loader {
  margin: auto;
  border: 20px solid #39754a;
  border-radius: 50%;
  border-top: 20px solid #575757;
  width: 100%;
  height: 100%;
  animation: spinner 8s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); opacity: 0.2;  }
  100% { transform: rotate(360deg);opacity: 0.8;  }
}